# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
*  List popular languages for Data Science
* Identify data science tools
* Use arithmetic expressions
* Use different heading types/levels
* Identify main libraries

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. Julia
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. TensorFlow
5. Scikit-learn

|Data Science Tools | 
| -------------| 
| VSCode |
| Jupyter Notebook |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python
- 3+3
- 4-9
- 8*6
- 24/8

Next, im going to run the code to get the result of all the expressions

In [1]:
3+3
4-9
8*6
24/8

3.0

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Alejandra